.home{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.68),rgba(0,0,0,0)), url("https://i.postimg.cc/fRYZLNgh/p3.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Abril Fatface", serif;
    letter-spacing: 0.5em;
}
.c2{
    display: flex;
    justify-content: space-between;
}
.c1{
    width: 30%;
}
input {
    border: 2px solid rgba(228, 15, 15, 0.526) !important;
    box-shadow: none !important;
    outline: none !important;
}
.p1{
    font-weight: 700;
    font-size: 50px;
}
.p2{
    font-weight: 600;
    font-size: 25px;
}
.c3 p{
    font-weight: 400;
    font-size: 18px;
}
.c4:hover{
    transition: all 0.31s ease-in-out;
    transform: scale(1.01);
    cursor: pointer;
}

@media (max-width:1000px) {
    .c1{
        width: 50%;
    } 
    .c2{
        flex-direction: column;
    }
}

@media (max-width:700px) {
    .home{
        letter-spacing: 0.3em;
    }
    .c1{
        width: 70%;
    } 
    .p1{
        font-weight: 700;
        font-size: 35px;
    }
    .p2{
        font-weight: 500;
        font-size: 20px;
    }
    .c2{
        flex-direction: column;
    }
}

@media (max-width:500px) {
    .home{
        letter-spacing: 0.2em;
    }
    .c1{
        width: 90%;
    }
    .p1{
        font-weight: 700;
        font-size: 30px;
    }
    .p2{
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.1em;

    }
    .c2{
        flex-direction: column;
    }
}